---
layout: default
---
<nav style="display: block;">
      <ul style="margin: -15px 0 15px 0; text-align: center;">
          <li style="display: inline;"><a href="/about">about</a></li>
          —
          <li style="display: inline;"><a href="/projects">projects</a></li>
          —
          <li style="display: inline;"><a href="/resources">resources</a></li>
    </ul>
</nav>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include post.html post=post content=post.content %}
{% endfor %}

{% if paginator.total_pages > 1 %}
    {% include pagination.html maxPages=5 %}
{% endif %}
